html {
  background: url('coffee-background.jpg') no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Hammersmith One', cursive;
  color: white;
}

#form-block {
  text-align: center;
  label {
    color: white;
    font-family: 'Changa One', cursive;
  }
  #search-form{
    text-align: center;
    display: inline-block;
    width:20%;
    #get-location {
      width: 20em;
      height: 2em;
    }
  }
  #submit-location {
    width: 20em;
  }
}

#results {
  list-style-type: none;
  & li{
    margin-top: 1em;
  }
}

#name-list {
  float: left;
}

#address-list  {
  float: right;
}

#name-list, #address-list {

  margin: 30px auto;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background: rgba(0,0,0,0.2);
  color:white;
  a {
    text-decoration: none;
    color:white;
  }
  a:hover {
    color: red;
  }
}

.header {
  font-weight: bold;
  font-size:1.5em;
  text-decoration: underline;
  font-family: 'Fredoka One', cursive;
}

footer {
  position: absolute;
  top: 0px;
  right: 0px;
}
