<!DOCTYPE html>
<html>
<head>
  <title>MapWheresMyCoffee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Map! Where's My Coffee?</h1>
  <form id="search-form">
    <input id="get-city" type="City">
    <input type="submit" value="Search">
  </form>
  <div id="name-list">
    <ul id="results">

    </ul>
  </div>
  <div id="address-list">
    <ul id="results">

    </ul>
  </div>

<%= yield %>

</body>
</html>
